@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main,
nav {
  @apply max-w-6xl mx-auto my-12;
}
p {
  @apply mt-2;
}
h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}
h2 {
  @apply scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight transition-colors first:mt-0 w-full;
}

button {
  @apply relative border p-3 w-[10rem] rounded-md disabled:bg-slate-300 bg-slate-700 text-white font-bold hover:bg-slate-900 transition ease-in;
}

.evolutionClip {
  @apply rounded-full border-spacing-10 flex flex-col m-auto;
}

.nameClip {
  @apply text-center md:text-lg text-xs font-semibold;
}

.imageClip {
  @apply md:size-[10rem] size-[4rem] hover:scale-110 transition ease-in-out;
}

.loader {
  height: 100px;
  aspect-ratio: 1;
  position: relative;
  margin: auto;
  margin-top: 15rem;
  margin-bottom: 4rem;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform-origin: bottom;
}
.loader::after {
  background: radial-gradient(at 75% 15%, #fffb, #0000 35%),
    radial-gradient(at 80% 40%, #0000, #0008),
    radial-gradient(circle 14px, #fff 94%, #0000),
    radial-gradient(circle 22px, #000 94%, #0000),
    linear-gradient(#f93318 0 0) top / 100% calc(50% - 8px),
    linear-gradient(#fff 0 0) bottom/100% calc(50% - 8px) #000;
  background-repeat: no-repeat;
  animation: l20 1s infinite cubic-bezier(0.5, 120, 0.5, -120);
}
.loader::before {
  background: #ddd;
  filter: blur(8px);
  transform: scaleY(0.4) translate(-13px, 0px);
}
@keyframes l20 {
  30%,
  70% {
    transform: rotate(0deg);
  }
  49.99% {
    transform: rotate(0.2deg);
  }
  50% {
    transform: rotate(-0.2deg);
  }
}

@layer utilities {
  .top:hover {
    transition: all 0.2s ease-in;
  }

  .top:hover .icon {
    display: flex;
    transition: all 0.3s ease-in-out;
    animation: bounce 1s infinite;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-45%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
