@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main,
nav {
  @apply max-w-6xl mx-auto my-12;
}
p {
  @apply mt-2;
}
h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}
h2 {
  @apply scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight transition-colors first:mt-0 w-[30rem];
}

button {
  @apply border p-3 w-[10rem] rounded-md disabled:bg-slate-300 bg-slate-700 text-white font-bold hover:bg-slate-900  transition ease-in;
}

@layer utilities {
  .top:hover {
    transition: all 0.2s ease-in;
  }

  .top:hover .icon {
    display: flex;
    transition: all 0.3s ease-in-out;
    animation: bounce 1s infinite;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-45%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
